<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">


<h3>Product added to cart successfully</h3>
<button class="btn btn-outline-warning"><a href="/"><strong>Continue Shopping</strong></a></button>
<button class="btn btn-outline-Info"><a href="/cart/"><strong>View Cart</strong></a></button>
