{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'clientcss/navbar.css' %}"> -->
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->


</head>

<!-- <body class="container"> -->
<!-- 
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSite Logo</a>
    </div>
    <ul class="nav navbar-nav">
      <a href="/">Home</a>
		<a href="{% url 'ecomapp:clientcart' %}">Cart</a>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Page 1-1</a></li>
          <li><a href="#">Page 1-2</a></li>
          <li><a href="#">Page 1-3</a></li>
        </ul>
      </li>
       <li><a href="#">Page 2</a></li> 
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{% url 'ecomapp:customersignup' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="{% url 'ecomapp:customersignin' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav> -->
  


 <body class="container">
<div>

		<!-- <div id="header">
			<div class="leftbox"> LOGO image </div> -->
		<a href="/">Home</a>
		<a href="{% url 'ecomapp:clientcart' %}">Cart</a>
		<!-- <div class="rightbox"> -->
		{% if request.user.is_authenticated and request.user.customer %}
		<a href="" style="color: red;">{{request.user.username}}</a>
		<a href="{% url 'ecomapp:customersignout' %}">Signout</a>
		{% else %}
		<a href="{% url 'ecomapp:customersignup' %}">SignUp</a>
		<a href="{% url 'ecomapp:customersignin' %}">Signin</a>
		{% endif %}
	</div>
	
	<hr>
	<div class="row">
		<div class="col-md-3">
			<h3>Categories</h3><hr>
			<a href="{% url 'ecomapp:clienthome' %}">All Products</a>
			{% for rc in root_categories %}
			<li>{{rc.title}}</li>
			{% for sc in rc.category_set.all %}
			<li class="ml-3">
				<a href="{% url 'ecomapp:clienthome' %}?cat={{sc.slug}}">{{sc.title}}</a>
			</li>

			{% endfor %}

			{% endfor %}

			
		</div>
		<div class="col-md-9">
			{% block content %}
			{% endblock %}
			
		</div>
		
	</div>

</body>
</html>