{% extends 'clienttemplates/base.html' %}


{% block content %}


<div class="row">
	<div class="col-md-6">

		<h3>Checkout Form</h3>
		<form action="" method="post" >
			{% csrf_token %}
			{{form.as_p}}
			<button>Place Order</button>
		</form>

		
	</div>
	<div class="col-md-6">
		<h3>Order Summary</h3>
		{% for ci in cart.cartitem_set.all %}
		<div class="row">
			<li>{{ci.item}} {{ci.rate}}*{{ci.quantity}} = {{ci.subtotal}}</li>
		</div>
		{% endfor %}
		<hr>
		<p>Total: Rs. {{cart.total}}</p>
		
	</div>
</div>

{% endblock %}
