{% extends 'clienttemplates/base.html' %}


{% block content %}

<div class=""row>
	<div class="col-md-12">
		<h3>Cart Items</h3><hr>
		<table class="table">
			<thead>
				<tr>
					<th>SN</th>
					<th>Items</th>
					<th>Rate</th>
					<th>Quantity</th>
					<th>Subtotal</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for ci in cart.cartitem_set.all %}
				<tr>
				<td>{{forloop.counter}}</td>
				<td>{{ci.item.title}}</td>
				<td>{{ci.rate}}</td>
				<td>{{ci.quantity}}</td>
				<td>{{ci.subtotal}}</td>
				<td>
					<a href="{% url 'ecomapp:clientmanagecart' ci.id 'inc' %}" class="btn btn-info"><i class="fa fa-plus"></i></a>
					<a href="{% url 'ecomapp:clientmanagecart' ci.id 'dcr' %}" class="btn btn-warning"><i class="fa fa-minus"></i></a>
					<a href="{% url 'ecomapp:clientmanagecart' ci.id 'rmv' %}" class="btn btn-danger"><i class="fa fa-trash"></i></a>
				</td>
				</tr>
				{% endfor %}
				<tr>
					<th colspan="4" class="text-right">
						Total:
					</th>
					<th>{{cart.total}}</th>
				</tr>
			</tbody>
			
		</table>
		{% if cart and cart.cartitem_set.count > 0 %}
		<a href="{% url 'ecomapp:customercheckout' %}" class="pull-right btn btn-info">Checkout</a>
		<a href="{% url 'ecomapp:customeremptycart' %}" class="pull-left btn btn-info">Empty Cart</a>
		{% endif %}
	</div>
	
</div>

{% endblock %}