{% extends 'clienttemplates/base.html'%}
{% block content %}
<div class="row">
	<div class="col-md-8 mx-auto">
		<h3>Sign In Form</h3>
		<p>Please sign in for ordering process</p>
		{% if error %}
		<li class="text-danger">{{error}}</li>
		{% endif %}
		<form action="" method="Post" enctype="multipart/form-data">
				{% csrf_token %}
				{{form.as_p}}
				<button class="btn btn-info">Signin</button>
			
		</form>
		Don't have an account?<a href="{% url 'ecomapp:customersignup' %}">Signup</a>
			
		
	</div>
</div>



{% endblock %}