{% extends 'clienttemplates/base.html'%}
{% block content %}
<div class="row">
	<div class="col-md-8 mx-auto">
		<h3>SignUp Form</h3>
		<p>Please fill the form for ordering process</p>
		<form action="" method="Post" enctype="multipart/form-data">
				{% csrf_token %}
				{{form.as_p}}
				<button class="btn btn-info">SignUp</button>
			
		</form>
		Alredy have an account?<a href="{% url 'ecomapp:customersignin' %}">Login</a>
			
		
	</div>
</div>



{% endblock %}