{% extends 'clienttemplates/base.html' %}
{% load static %}



{% block content %}

<div class="row ">
	{% for item in all_items %}
	<div class="col-md-3 card shadow ml-3 mb-3">
		<img src="{{item.itemimage_set.first.image.url}}" class="img-fluid" 			alt="Responsive image" style="height: 230px; object-fit: cover">
		<h5>{{item.title}}</h5>
		<p>price:Rs<strike>{{item.mrp}}</strike><br>
				{{item.sp}}
		</p>
		<button class="btn btn-outline-warning font-weight-bold"><a href="{% url 'ecomapp:clientaddtocart' item.id %}"><i class="fa fa-shopping-cart" style="font-size:25px;color:red"></i> Add to Cart</a></button>

	</div>
	
	{% endfor %}
	
</div>


{% endblock %}