{% extends 'admintemplates/adminbase.html' %}
{% load static %}
{% load humanize %}


{% block content %}
<div class="row">
	<div class="col-md-12">
		<u><h3  class="text-center text-info">All Items</h3></u><hr>
		<table class="table table-bordered table-hover table-sm">
			<thead>
				<tr>
					<th>SN</th>
					<th>Category</th>
					<th>Title</th>
					<th>Slug</th>
					<th>Mrp</th>
					<th>SP</th>
					<th>Description</th>
					<th>View Count</th>
					<th>Sale count</th>
					<th>Stock</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for ite in allitems %}
				<tr>
					<td>{{forloop.counter}}</td>
					<td>{{ite.category.title}}</td>
					<td>{{ite.title}}</td>
					<td>{{ite.slug}}</td>
					<td>{{ite.mrp |intcomma}}/-</td>
					<td>{{ite.sp |intcomma}}/-</td>
					<td>{{ite.description | safe|truncatewords:'5'}}</td>
					<td>{{ite.view_count |intcomma}}</td>
					<td>{{ite.sale_count |intcomma}}</td>
					<td>{{ite.stock |intcomma}}</td>
					<td>
						<a href="{% url 'ecomapp:adminitemupdate' ite.id %}" class="btn btn-info btn-sm"> 	<i class="fa fa-check"></i>
						</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}