{% extends 'admintemplates/adminbase.html' %}



{% block content %}
<u><h2  class="text-center text-info">Item Create Form</h2></u>
<form method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	{{ form.as_p }}
	<button class="btn btn-info">Submit Data</button>
</form>

{% endblock %}