{% extends 'admintemplates/adminbase.html' %}
{% load static %}
{% load humanize %}



{% block content %}
<div class="row">
	<div class="col-md-12">
		<h3>Recent Orders</h3><hr>
		<table class="table table-bordered table-hover table-sm">
			<thead>
				<tr>
					<th>SN</th>
					<th>Order Id</th>
					<th>Item Count</th>
					<th>Total amount</th>
					<th>Order By</th>
					<th>Address</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				{% for order in allorders %}
				<tr>
					<td>{{forloop.counter}}</td>
					<td><a href="{% url 'ecomapp:adminorderdetail' order.pk %}">#ORDER_{{order.id}}</a><br>{{order.created_at}}</td>
					<td>{{order.cart.cartitem_set.count }}</td>
					<td>{{order.net_total |intcomma}}/-</td>
					<td>{{order.name}}<br>{{order.cart.customer.user}}</td>
					<td>{{order.street_address}},{{order.district}}<br>{{order.mobile}}</td>
					{% if order.status == 'Delivered' %}
					<td style="color:green">{{order.status}}</td>
					{% elif order.status == 'Canceled'  %}
					<td style="color:red">{{order.status}}</td>
					{% else %}
					<td>{{order.status}}</td>
					{% endif %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
		
	</div>
</div>
{% endblock %}
