{% extends 'admintemplates/adminbase.html' %}
{% load humanize %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<h3 class="text-center text-info">Order ID: #ORDER_{{order.id}}</h3><hr>
		<div class="row">
			<div class="col-md-6">
				<h4>Customer Information</h4><hr>
				<p style="font-weight: bold;"><span class="text-danger">Order by:</span>{{order.cart.customer}}({{order.cart.customer.user}}</p>
				<p style="font-weight: bold;"><span class="text-danger">Order For:</span>{{order.name}}/ {{order.email}}</p>
				<p style="font-weight: bold;"><span class="text-danger">Shipping Address:</span>{{order.street_address}},{{order.district}}</p>
				<p style="font-weight: bold;"><span class="text-danger">Contact Information:</span>,{{order.mobile}}| {{order.cart.customer.mobile}}</p>

				
				
			</div>
			<div class="col-md-6">
				<h3>Order Information</h3><hr>
				<p style="font-weight: bold;"><span class="text-danger">Order On:</span>
				{{order.created_at}}|{{order.created_at|timesince}} ago</p>
				<p style="font-weight: bold;"><span class="text-danger">Net Total:</span>Rs.
				{{order.net_total|intcomma}}/-</p>
				<p  style="font-weight: bold;"><span class="text-danger"> Payment Status:</span><span id="payment_status">{% if order.payment_status is False %}Not Paid <a class="btn btn-primary" id="mp" href="#" data-href="{% url 'ecomapp:adminmakepayment' order.id %}"> Make Paid</a>{% else %}Paid{% endif %}</span></p>
				<p style="font-weight: bold;"><span class="text-danger">Status:</span><span id="ord_status">{{order.status}}</span></p>
				{% if order.status == 'Delivered' or order.status == 'Canceled' %}
				{% else %}
				<p>
					<select id="order_status">
						<option value="a">Change order status</option>
						<option value="p">Make Processing</option>
						<option value="d">Make Delivered</option>
						<option value="c">Make Canceled</option>
					</select>
				</p>
				{% endif %}
				
			</div>
			<div class="col-md-12">
				<u><h4 class="text-center text-info">Ordered Item</h4></u><hr>
				<table class="table table-bordered table-hover table-sm">
					<thead>
						<tr>
							<th>SN</th>
							<th>Items</th>
							<th>Rate</th>
							<th>Quantity</th>
							<th>Subtotal</th>
							
						</tr>
					</thead>
					<tbody>
						{% for ci in order.cart.cartitem_set.all %}
						<tr>
							<td>{{forloop.counter}}</td>
							<td>{{ci.item.title}}</td>
							<td>{{ci.rate}}</td>
							<td>{{ci.quantity}}</td>
							<td>{{ci.subtotal}}</td>

						</tr>
						{% endfor %}
						<tr>
							<th colspan="4" class="text-right">
								Total:
							</th>
							<th>{{order.cart.total|intcomma}}/-</th>
						</tr>
						<tr>
							<th colspan="4" class="text-right">
								Discount:
							</th>
							<th>{{order.discount|intcomma}}/-</th>
						</tr>
						<tr>
							<th colspan="4" class="text-right">
								Net Total:
							</th>
							<th>{{order.net_total|intcomma}}/-</th>
						</tr>
					</tbody>

				</table>

				
			</div>
		</div>
		
	</div>
</div>

{% endblock %}

{% block js %}
<script >
	$(document).ready(function(){
		$('#mp').on('click',function(event){
			event.preventDefault();
			var url=$(this).attr('data-href')
			$.ajax({
				method:'get',
				url: url,
				data:"",
				success:function(resp){
					// location.reload()
					if(resp.message =="payment success"){
						$('#payment_status').text("Paid")

					}
					else{
						alert(resp.message)
					}

				}
			})
		})
	})
</script>
<script type="text/javascript">
	$('#order_status').on('change', function(event){
		var act = $(this).val();
		var url = "{% url 'ecomapp:adminchangestatus' order.id %}";
			$.ajax({
				method:'get',
				url: url,
				data: {'act': act},
				success:function(resp){
					if(resp.message =="Processing"){
						$('#ord_status').text(resp.message)
					}else if (resp.message =="Delivered" || resp.message=="Canceled"){
						$('#ord_status').text(resp.message);
						$('#order_status').css("display","none");

					}
					else{
						alert("Invalid")
						location.reload()
					}

				
				}
			})
		})
</script>

{% endblock %}
