<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<style type="text/css">
		.dropdown {
			position: relative;
			display: inline-block;
		}

		/* Dropdown Content (Hidden by Default) */
		.dropdown-content {
			display: none;
			position: absolute;
			background-color: #f1f1f1;
			min-width: 160px;
			box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
			z-index: 1;
		}
		.dropdown-content a:hover {
			background-color: #ddd;}

		/* Show the dropdown menu on hover */
		.dropdown:hover .dropdown-content {
			display: block;}

		/* Change the background color of the dropdown button when the dropdown content is shown */
		.dropdown:hover .dropbtn {
			background-color: #3e8e41;}
	</style>

</head>
<body class="container">
	<div>
		<a href="{% url 'ecomapp:adminhome' %}">Home</a>|
		<a href="{% url 'ecomapp:adminitemcreate' %}">Item Create</a>|
		<a href="{% url 'ecomapp:adminitemlist' %}">Item List</a>|


		<div class="dropdown">
			{% if request.user.is_authenticated %}
			<button class="dropbtn">  {{request.user}} </button>
			<div class="dropdown-content">
				<a href="#">  <a href="{% url 'ecomapp:adminlogout' %}">Logout</a></a>
				{% else %}

				<a href="{% url 'ecomapp:adminlogin' %}">Login</a>|
				{% endif %}

			</div>

		</div>
	</div><hr>
	{% block content %}
	
	{% endblock %}
	<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  
  {% block js %}

  {% endblock %}

</body>
</html>